@import '../../style/variables';

.tag {
  width: max-content;
  border-radius: 8px;
	
  &__primary {
    background-color: $button-color_main;

    & > p {
      color: white;
    }
  }
	
  &__secondary {
    background-color: $background-color_white;
    border: 1px solid $button-color_main;
		
    & > p {
      color: $background-color_black;
    }
  }

  & > p {
    padding: 6px 9px;
    font-weight: $font-regular;
    font-size: 12px;
  }
}
