@import '../../style/variables.scss';

.tag {
	width: max-content;
	border-radius: 8px;
	
	&__primary {
		background-color: $button-color_main;

		& > p {
			color: white;
		}
	}
	
	&__secondary {
		border: 1px solid $button-color_main;
		background-color: $background-color_white;
		
		& > p {
			color: $background-color_black;
		}
	}

	& > p {
		font-size: 12px;
		font-weight: $font-regular;
		padding: 6px 9px;
	}
}
