.news-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;

	&__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > h1 {
			margin-left: 0;
			padding-left: 0;
		}

		&_icon {
			width: 24px;
			height: 24px;
			cursor: pointer;
			background-color: inherit;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}
