@import '../../style/variables';

.search-input {
  position: relative;
  display: inline-flex;
  width: 337px;
  height: 46px;

  @media screen and (max-width: $max-width_desktop-medium) {
    width: 100%;
  }

  &:focus {
    border: 1px solid $button-color_main;
  }

  & > input {
    position: relative;
    width: 337px;
    padding: 8px 12px 8px 40px;
    background-image: url('../icons/search.svg');
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: 24px;
    border: 1px $font-color_inactive solid;
    border-radius: $border-radius;

    @media screen and (max-width: $max-width_desktop_medium) {
      width: 100%;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0.875rem;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  @media screen and (max-width: $max-width_desktop_medium) {
    width: 100%;
  }
}
