@import '../../style/variables';

.loader {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin: auto;
  color: #FFF;
  animation: rotation 1s linear infinite;
  inset: 0;
}

.loader::after,
.loader::before {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background-color: $button-color_inactive;
  border-radius: 50%;
  transform: scale(0.5) translate(0, 0);
  animation: animloader 1s infinite ease-in-out;
  content: '';
}

.loader::before {
  background-color: $button-color_dark;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}