@import '../../style/variables';

.modal-wrapper {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 200px;
  overflow: hidden;
  inset: 0;

  @media (max-width: $max-width_desktop_medium) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  &__background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $background-color_black;
    opacity: 0.5;
    inset: 0;

    @media (max-width: $max-width_desktop_medium) {
      display: none;
    }
  }

  &__content {
    z-index: 111;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: calc(100% - 200px);
    max-width: 860px;
    padding: 25px;
    background-color: $background-color_white;
    border: 1px solid $font-color_inactive;
    border-radius: 12px;

    @media (max-width: $max-width_desktop-medium) {
      position: absolute;
      top: 45px;
      right: 0;
      left: 0;
      flex-direction: column;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      margin: 0;
      border: 0;
      border-radius: 0;
    }
  }
}
