@import '../../style/variables.scss';

.likeCount-container {
	display: flex;
	flex-direction: row;
	gap: 6px;
	z-index: 11;
	align-items: center;
}

.likeCount__button {
	z-index: 11;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: none;
}

.likeCount__text {
	color: $font-color_grey;
}
