@import '../../style/variables';

.profile-card-mini {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  min-width: 300px;
  padding: 16px;
  background: $background-color_white;
  border: 1px solid $font-color_inactive;
  border-radius: 12px;

  @media screen and (max-width: $max-width_desktop-medium) {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & > h3 {
      font-weight: $font-medium;
    }
  }

  &_menu {
    position: relative;
  }

  &__body {
    display: flex;
    flex-direction: column;

    &_buttons {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;

      @media screen and (max-width: $max-width_desktop-medium) {
        flex-direction: row;
        width: max-content;
        margin-top: 0;
      }
    }
  }
}
