@import '../../style/variables';

.button {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
	width: 100%;
	border-radius: 12px;
	padding: 16px 12px;

	&-primary {
		background-color: $button-color-main;
		color: white;

		&:hover {
			background-color: $button-color_dark;
		}
	}

	&-secondary {
		background-color: white;
		border: solid 1px $button-color-main;
		border-radius: 8px;
		color: $button-color-main;

		&:hover {
			background-color: #f9f7ff;
		}
	}

	&:disabled {
		background-color: $button-color_inactive;
		cursor: default;
	}
}
