@import '../../style/variables';

.button {
  width: 100%;
  padding: 16px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  cursor: pointer;

  &-primary {
    color: white;
    background-color: $button-color-main;

    &:hover {
      background-color: $button-color_dark;
    }
  }

  &-secondary {
    color: $button-color-main;
    background-color: white;
    border: solid 1px $button-color-main;
    border-radius: 8px;

    &:hover {
      background-color: #f9f7ff;
    }
  }

  &:disabled {
    background-color: $button-color_inactive;
    cursor: default;
  }
}
