@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
.display-none {
  display: none;
}

.desktop-menu__container__open {
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 276px;
  padding: 8px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.desktop-menu__header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.desktop-menu__header_logo_icon {
  height: 30px;
  width: 30px;
}

.desktop-menu__header_logo_text {
  font-size: 16px;
  font-weight: 700;
  color: #666666;
  margin-left: 8px;
}

.desktop-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}

.desktop-menu__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 4px;
  transition: margin-left 0.3s ease-in-out;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -moz-transition: margin-left 0.3s ease-in-out;
  -ms-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
}

.desktop-menu__items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  width: 100%;
}

.desktop-menu__items_item_text {
  margin-left: 8px;
}

.desktop-menu__items_item_text:hover {
  color: #651fff;
}

.desktop-menu__items_item_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  width: 100%;
  background-color: #dbe2e6;
  border-radius: 0 12px 12px 0;
}

.desktop-menu__items_item_active-text {
  margin-left: 8px;
}

.desktop-menu__items_item_active-text:hover {
  color: #651fff;
}

.desktop-menu__items_item_active::before {
  position: absolute;
  left: 0;
  content: '';
  background-color: #5218d0;
  height: 56px;
  width: 8px;
}

.desktop-menu__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dbe2e6;
  margin-bottom: 16px;
}

.desktop-menu__footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.desktop-menu__footer__button_text {
  margin-left: 8px;
  color: #fb4e4e;
}

.desktop-menu__footer_icon {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
}

.desktop-menu__container__close {
  z-index: 111;
  background-color: #fff;
  width: 72px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 0;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/*# sourceMappingURL=DesktopMenu.css.map */