@import '../../style/variables';

.display-none {
  display: none;
}

.desktop-menu__container__open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 100vh;
  padding: 8px;
  background-color: $background-color_white;
  transition: left 0.3s ease;
}

.desktop-menu__header_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &_icon {
    width: 30px;
    height: 30px;
  }

  &_text {
    margin-left: 8px;
    color: $font-color_grey;
    font-weight: 700;
    font-size: 16px;
  }
}

.desktop-menu__header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.desktop-menu__items {
  flex: 1 0 auto;
  margin-top: 80px;
  margin-bottom: 4px;
  padding: 0;
  transition: margin-left 0.3s ease-in-out;

  &_item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;

    &_text {
      margin-left: 8px;

      &:hover {
        color: $button-color_main;
      }
    }

    &_active {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 12px;
      background-color: $button-color_inactive;
      border-radius: 0 12px 12px 0;

      &-text {
        margin-left: 8px;

        &:hover {
          color: $button-color_main;
        }
      }

      &::before {
        position: absolute;
        left: 0;
        width: 8px;
        height: 56px;
        background-color: $font-color_active;
        content: '';
      }
    }
  }
}

.desktop-menu__footer {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 16px;
  padding: 12px;
  border-top: 1px solid $button-color_inactive;

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &_text {
      margin-left: 8px;
      color: $font-color_red;
    }
  }

  &_icon {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
  }
}

.desktop-menu__container__close {
  position: fixed;
  left: 0;
  z-index: 111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72px;
  height: 100vh;
  padding: 8px;
  background-color: $background-color_white;
  transition: 0.5s;
}
