@import '../../style/variables.scss';

.mobile-header {
	&__container {
		width: 100%;
		position: fixed;
		z-index: 1111;
		left: 0;
		top: 0;
		overflow: hidden;
	}

	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	background-color: $background-color_white;
	align-items: center;
	border-bottom: 1px solid $button-color_border;
	width: 100%;
	height: 52px;
	padding: 8px 16px;

	&__elements {
		display: flex;
		justify-content: space-between;
		background-color: $background-color_white;
		align-items: center;
		border-bottom: 1px solid $button-color_border;
		width: 100%;
		height: 52px;
		padding: 8px 16px;
	}

	&__btns {
		display: flex;
		gap: 16px;
		align-items: center;
	}

	&__logo {
		cursor: pointer;
		width: 24px;
		height: 24px;
	}

	&__user-avatar {
		width: 36px;
		height: 36px;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-ms-border-radius: 100px;
		-o-border-radius: 100px;
	}

	&__button {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		cursor: pointer;
		padding: 5px 12px;
		border-radius: 8px;
		border: 1px solid $button-color-border;
	}
}

.mobile-menu {
	display: flex;
	flex-direction: column;
	z-index: 11;
	height: 100vh;
	position: fixed;
	top: 0;
	margin-top: 52px;
	left: 0;
	z-index: 111;
	width: 100%;
	overflow: hidden;
	background-color: $background-color_white;
	padding: 32px 16px;

	&__items {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
	}

	&__item,
	&__item_active {
		display: flex;
		align-items: center;
		padding: 12px;

		&-icon {
			width: 24px;
			height: 24px;
		}

		&-text {
			font-size: 16px;
			margin-left: 8px;
		}
	}

	&__item_active > p {
		color: $button-color_main;
	}

	&__footer {
		flex: 0 0 auto;
		padding: 12px;
		display: flex;
		border-top: 1px solid $button-color_inactive;
		margin-bottom: 32px;

		&_button {
			&-text {
				color: $font-color_red;
				font-size: 16px;
			}
		}
	}
}
