@import '../../style/variables';

.avatar {
  display: block;
  overflow: hidden;
  border-radius: 50%;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $max-width_desktop-medium) {
    width: 100%;
    height: 100%;
  }
}
