@import '../../style/variables';

.button-toggle {
  display: flex;
  flex: 1;
  padding: 4px;
  font-weight: 400;
  font-size: 16px;
  background-color: $background-color-grey;
  border-radius: 16px;

  &-btn {
    flex: 1;
    padding: 11px 12px;
    background-color: inherit;
    border-radius: 12px;
    cursor: pointer;

    &__active {
      flex: 1;
      color: white;
      font-weight: 600;
      background-color: $button-color-dark;
      border-radius: 12px;
      cursor: pointer;
    }
  }
}
