@import '../../style/variables';

.layout {
	min-height: 100vh;
	max-width: 100%;
	background-color: $background-color_grey;
	margin: 0 auto;
	overflow: hidden;
}

.layout-content {
	min-height: 100vh;
	max-width: 100%;
	overflow-y: auto;
	margin-left: 276px;
	padding: 24px 110px;
	display: flex;
	align-items: center;

	flex-direction: column;
	gap: 50px;

	@media screen and (max-width: $max-width_desktop-medium) {
		width: 100%;
		margin: 50px 0;
		width: 100%;
		padding: 20px;
	}
}
