@import '../../style/variables';

.auth-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 20px;
  overflow-x: hidden;

  &__content {
    position: relative;
  }
}

@media (min-width: $max-width_desktop-medium) {
  .auth-page {
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    &__content {
      width: 50%;
      margin: 20px;
      place-self: center center;
    }

    &__form {
      margin: 50px auto;
    }
  }

  .auth-page__background {
    display: block;
    width: 50%;
    min-height: 100vh;
    background-image: url('../../ui/images/background-auth.jpg');
    background-size: cover;
  }
}

.auth-page__logo {
  margin-bottom: 40px;
  text-align: center;
}
