@import "../../../style/variables";

.checkbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid $button-color_inactive;
    border-radius: 8px;

    &__checked {
      background-color: $button-color_main;
      border: none;
    }
  }

  &-text {
    margin-left: 8px;
    line-height: 22px;
  }
}