@import '../../style/variables';

.post-page {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 100%;
	overflow-x: hidden;

	&__image {
		border-radius: 12px;
		background-color: white;
		width: 100%;
		max-height: 560px;

		> img {
			max-height: 560px;
			border-radius: 12px;
			object-fit: cover;

			@media screen and (max-width: $max-width_desktop_medium) {
				max-height: 260px;
			}
		}
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 42px;

		&_main {
			display: flex;
			flex-direction: row;
			gap: 32px;
			justify-content: space-between;

			&_text {
				width: 100%;
				display: flex;
				flex-direction: column;
				flex-grow: 2;
				gap: 16px;
			}

			&_profile-card {
				width: 70%;

				@media screen and (max-width: 1250px) {
					width: 100%;
				}
			}

			&_tags {
				display: flex;
				gap: 8px;
			}

			&_footer {
				display: flex;
				justify-content: space-between;
			}

			@media screen and (max-width: 1250px) {
				flex-wrap: wrap;
				flex-direction: column;
			}
		}
	}

	@media screen and (max-width: $max-width_desktop-medium) {
		gap: 24px;
	}
}
